* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;

    width: 100vw;
    height: 100vh;

    max-width: 100vw;

    overflow-x: hidden;

    --blue1: #00b8ff;
    --blue2: #0097e1;
    --blue3: #0876b8;
    --blue4: #004fa7;
    --blue5: #012e6d;

    --white1: white;
    --white2: rgb(235, 235, 235);
    --white3: rgb(210, 210, 210);

    --color: #22272e;
    --color2: whitesmoke;

    color: var(--color);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--blue4);
}

::-webkit-scrollbar-thumb {
    background: var(--blue2);

    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--blue3);
}

nav {
    width: 100vw;
    height: 10vh;

    color: var(--color2);

    padding: 15px;

    display: flex;
    justify-content: space-between;

    background-color: var(--blue5);
}

.logo {
    font-size: 34px;
}

.logoA {
    text-decoration: none;

    color: var(--color2);
}

.links {
    display: flex;

    margin-left: 20px;

    font-size: 24px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 50px;
}

.link:last-child {
    margin-right: 20px;
}

.linkA {
    text-decoration: none;

    color: var(--white2);

    cursor: pointer;
}

.linkA:hover {
    color: var(--white3);
}

.main {
    width: 80vw;
    
    margin-left: 10vw;
    margin-right: 10vw;

    margin-top: 10vh;
}

.title {
    font-weight: bold;

    font-size: 64px;
}

.info {
    margin-top: 20px;

    font-size: 22px;
}

body {
    margin-bottom: 8vh;
}

footer {
    width: 100vw;
    height: 8vh;

    position: absolute;
    left: 0;
    bottom: 0;

    padding: 20px;

    background-color: var(--blue4);

    color: var(--color2);

    font-size: 18px;

    margin-top: 8vh;
}

html {
    position: relative;
    min-height: 100%;
}