* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;

    width: 100vw;
    height: 100vh;

    max-width: 100vw;

    overflow-x: hidden;

    --blue1: #00b8ff;
    --blue2: #0097e1;
    --blue3: #0876b8;
    --blue4: #004fa7;
    --blue5: #012e6d;

    --white1: white;
    --white2: rgb(235, 235, 235);
    --white3: rgb(210, 210, 210);

    --color: #22272e;
    --color2: whitesmoke;

    color: var(--color);
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--blue5);
}

::-webkit-scrollbar-thumb {
    background: var(--blue4);

    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: #004899;
}

/* Navbar */

nav {
    width: 100vw;
    height: 10vh;

    color: var(--color2);

    padding: 15px;

    display: flex;
    justify-content: space-between;

    background-color: var(--blue5);
}

.logo {
    font-size: 34px;
}

.logoA {
    text-decoration: none;

    color: var(--color2);
}

.links {
    display: flex;

    margin-left: 20px;

    font-size: 20px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 50px;
}

.link:last-child {
    margin-right: 20px;
}

.linkA {
    text-decoration: none;

    color: var(--white2);

    cursor: pointer;
}

.linkA:hover {
    color: var(--white3);
}

/* Main Stuff */

.main {
    width: 80vw;
    
    margin-left: 10vw;
    margin-right: 10vw;

    margin-top: 10vh;
}

.title {
    font-weight: bold;

    font-size: 64px;
}

.top {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.info {
    margin-top: 20px;

    font-size: 22px;
}

.ratings {
    display: flex;

    flex-direction: column;

    text-align: end;

    font-size: 18px;

    font-weight: 600;
}

.rating {
    margin: 3px;
}

/* Designs */

.designs {
    display: flex;

    flex-wrap: wrap;

    flex-direction: row;
}

.design {
    /* 4:3 Ratio */
    width: calc(25vw);
    height: calc(25vw / 4 * 3);

    margin: 2.5vw;

    border: 5px solid var(--blue3);

    background-image: url(/images/background.jpg);
    background-size: cover;

    cursor: pointer;
}

.designImage {
    width: 100%;
    height: 100%;

    margin-left: -1px;
    margin-right: -5px;

    background-image: url(/images/classicPlane.png);
    background-size: 100% 100%;

    position: relative;

    text-decoration: none;

    color: var(--color);

    cursor: pointer;
}

.designInfo {
    font-size: 15px;

    font-weight: bold;

    position: absolute;

    bottom: 10px;
    right: 10px;

    text-align: end;
}

.infoDifficulty {
    margin-bottom: 3px;

    font-size: 18px;
}

#Easy {
    color: green;
}

#Medium {
    color: orange;
}

#Hard {
    color: red;
}

#Extreme {
    color: darkred;
}

.designTitle {
    font-size: 20px;

    font-weight: bold;

    position: absolute;

    top: 10px;
    left: 10px;
}

/* Instructions/Design Page */

.instructions {
    display: flex;

    flex-wrap: wrap;

    flex-direction: row;

    padding-bottom: 10vh;
    padding-top: 5vh;
}

.instruction {
    width: calc(100% / 4 - 2.5vw);
    height: calc(20vw + 160px);

    margin: 1vw;

    padding: 12.5px;

    border: 5px solid var(--blue3);

    background-color: #e8f4f968;
}

.instructionTitle {
    font-size: 24px;

    font-weight: 800;
}

.instructionImage {
    /* 3:4 Ratio */
    width: 15vw;
    height: 20vw;

    background-image: url(/images/background.jpg);
    background-size: cover;

    margin-top: 10px;
    margin-bottom: 10px;
}

.instructionText {
    font-size: 16px;
}

/* Footer */

body {
    margin-bottom: 8vh;
}

footer {
    width: 100vw;
    height: 8vh;

    position: absolute;
    left: 0;
    bottom: 0;

    padding: 20px;

    background-color: var(--blue4);

    color: var(--color2);

    font-size: 18px;

    margin-top: 8vh;
}

html {
    position: relative;
    min-height: 100%;
}